// **********
// REQUIREMENTS
// **********


@import nib
@import "fontawesome/index.styl"

// **********
// VARS
// **********


$phi = 1.618

$golden_major = 0.618
$golden_minor = 0.382

$base_font_size = 16
$px = ( 1 / $base_font_size ) rem

$inner = (1920*$golden_major)

$JCIBlue = #0098D8
// **********
// FUNCTIONS
// **********


step($start, $steps, $multiplier = $start, $unit="none")
	for i in (1..$steps)
		$start = $start*$multiplier
	if $unit != "none"
		unit($start, $unit)
	else
		$start

percent($num)
	unit($num * 100, '%')

rspn-width(NUM)
	max-width 61.8%//unit( NUM * $px, rem )
	width 100%
	margin-left auto
	margin-right auto

// **********
//  ELEMENTS 
// **********
body
	background $JCIBlue

.carousel-inner
	// height 95vh
	
.crousel-caption
	top -40px

.logo
	img
		position: relative
		top: 50%
		left: 50%
		margin-right: -50%
		transform: translate(-50%, -20%)
		
.clogo
	position: absolute
	z-index: 1
	height 135*$px
	width 300*$px
	left 50%
	top 50%
	margin-right: -50%
	transform: translate(-50%, -50%)
	

.flagship
	background-color: #FFF
	text-align: center
	margin: 2em 0
	padding 2em

.col-md-3
	border:  1px solid
	// 	width: 100px
	height: 100%
	
	




.footerwrap
	background-color: $JCIBlue
	width 100%



footer
	color: #fff
	text-align: center
	padding-top 1.5em
	padding-bottom 1.5em
	rspn-width($inner)
	.copyright, .joinus, .social
		// margin-left auto
		// margin-right: auto
		//border: 1px solid
		font-size 22*$px
		display block
		//width:  25em
		padding 1em 0 1em 0
		text-align: center
			a
				width 2em
				height 1em
				text-decoration: none
				display inline-block
				color: #FFF
				i:before
					font-size 22*$px
					text-decoration: none
					width 1em
					height 1em
					display block
					font-style normal
					text-align center
					font-family "FontAwesome"
				i.facebook:before
					content $fa-var-facebook


// // **********
// // IMPORTS
// // **********


//@import _colorscheme
//@import _layout
