extends docwrapper

block title
	| Gallery - JCI Dragon
	

block content
	.container
		.subnav
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
			.subnav_item
				div Under Construction
