extends docwrapper

block title
	| Gallery - JCI Dragon
	

block content
	.container
		.jumbotron
			.row
				.col-md-12.text-center
					h1 Gallery
			hr
			.row
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 Dual Culture Cup 2015
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 2014 National Convention
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 JCI Dragon Inaugural Ceremony 2014
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 JCI Dragon Officer Tining 2013
			.row
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 2012 JCI World Congress Award
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 JCI Sports Day 2012
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 March - Monthly Fellowship Gathering
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 JCI Dragon PMO 1
			.row
				.col-md-3.text-center
					a(href="#")
						img(src="holder.js/200x150/random")
					h3 JCI Dragon Feb Lunch Gathering
				