extends docwrapper

block title
	| JCI Dragon
	

block content
	.headerwrap
		.large-header#large-header
			canvas#demo-canvas
			h1.main-title
					//img(src="JCIDragon.svg")
		div.menu
			ul
				li
					a(href="#") About JCI
				li
					a(href="#") About JCI Dragon
				li
					a(href="#") Message
				li
					a(href="#") Organization
				li
					a(href="#") Events
				li
					a(href="#") Publication
				li
					a(href="#") Resource
				li
					a(href="#") Contact
		.showname
			p JCI Dragon Inaugural Ceremony 2015
	

	.flagshipwrap
		.flagship.clearfloats
			.flagship_header
				p Our Flagship projects:
			.flagshipitem
				.first Dragon Apprentice
			.flagshipitem
				.second Dragon Volunteer
			.flagshipitem
				.third Dual Culture Cup
			.flagshipitem
				.fourth 35th Anniversary Ceremony

	.mainwrap
		main
			article.clearfloats
				.content
					h1 February 17
					p 
						|飛龍騰達2015籌委會議同DBN 會議同步進行，感謝各位臨近歲晚也努力籌備Lets care with insight
				.thumb
					img(src="images/facebookpost1.jpg")				
			
			article.clearfloats
				.content
					h1 February 13
					p 
						a(href="./DragonVolunteer.html") Dragon Volunteers 騰龍義工團
						| 出動，老友記新春團拜
				.thumb
					img(src="images/facebookpost2.jpg")

	.footerwrap
		footer.clearfloats
			.social
				a(href="//www.facebook.com/JCIDragon") #[i.facebook]

			.joinus Come and Join Us!!!
			.copyright &copy; JCI Dragon 2015 All Rights Reserved 
			
			
	script(type="application/javascript", src="js/FullScreen.js")