extends docwrapper

block title
	| JCI Dragon
	

block content
	#my_carusel.carousel.slide(data-ride='carousel')
		
		// Indicators
		//- ol.carousel-indicators
		//- 	li.active(data-target='#my_carusel', data-slide-to='0')
		//- 	li(data-target='#my_carusel', data-slide-to='1')
		//- 	li(data-target='#my_carusel', data-slide-to='2')
		//- // Wrapper for slides
		.carousel-inner
			.item.active
				img(src='images/InauguralCeremony_copy.jpg', alt='...')
				img.clogo(src="/JCIDragon.svg" )
				.carousel-caption
					h3 JCI Dragon Inaugural Ceremony 2015
			//- .item
			//-   img(src='http://cdn.wonderfulengineering.com/wp-content/uploads/2014/03/high-resolution-wallpapers-25.jpg', alt='...')
			//-   .carousel-caption
			//-     h3 Caption
			//-     p
			//-       | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur molestias, quaerat quam assumenda repudiandae molestiae, repellendus quia nesciunt nisi nam quas nobis quis tenetur voluptatem veritatis vero nulla incidunt eos!
			//- .item
			//-   img(src='http://www.fabricgraphic.com/wp-content/uploads/2014/07/high-resolution-wallpaper-download.jpg', alt='...')
			//-   .carousel-caption
			//-     h3 Caption
			//-     p
			//-       | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur molestias, quaerat quam assumenda repudiandae molestiae, repellendus quia nesciunt nisi nam quas nobis quis tenetur voluptatem veritatis vero nulla incidunt eos!
			// Controls
			a.left.carousel-control(href='#my_carusel', role='button', data-slide='prev')
				span.glyphicon.glyphicon-chevron-left
			a.right.carousel-control(href='#my_carusel', role='button', data-slide='next')
				span.glyphicon.glyphicon-chevron-right

	

	.container
		.flagship.col-md-12
			.subnav_header
				p Our Flagship projects:
			.col-md-3 Dragon Apprentice
			.col-md-3 Dragon Volunteer
			.col-md-3 Dual Culture Cup
			.col-md-3 35th Anniversary Ceremony

	.container
		article.jumbotron
			.content
				h1 February 17
				p 
					|飛龍騰達2015籌委會議同DBN 會議同步進行，感謝各位臨近歲晚也努力籌備Lets care with insight
			.thumb
				img.img-responsive(src="images/facebookpost1.jpg")				
		
		article.jumbotron
			.content
				h1 February 13
				p 
					a(href="./DragonVolunteer.html") Dragon Volunteers 騰龍義工團
					| 出動，老友記新春團拜
			.thumb
				img.img-responsive(src="images/facebookpost2.jpg")


			
	script(type="application/javascript", src="js/FullScreen.js")