extends docwrapper

block title
	| Publication - JCI Dragon
	

block content
	.container
		.jumbotron
			.row
				.col-md-12.text-center
					h1 Publication
			hr
			.row
				.col-md-4.text-center.col-md-offset-4
					a(href="#")
						img(src="images/DRACO201501.png")
					h3 DRACO 2015 ISSUE 1

			.row
				.col-md-3.text-center
					a(href="http://www.cpress.com.hk/JCIHK/DNA-Issue%203/HTML/index.html")
						img(src="images/DNA4.png")
					h3 DNA Issue 3
				.col-md-3.text-center
					a(href="http://www.dragonjc.org/images/2014-Issue2.pdf")
						img(src="images/DNA3.png")
					h3 DNA Issue 2
				.col-md-3.text-center
					a(href="http://www.dragonjc.org/images/2013/DNA/issue-1/untitled-1-01.png")
						img(src="images/DNA2.png")
					h3 DNA Issue 1
				.col-md-3.text-center
					a(href="#http://www.dragonjc.org/publication/DNA-Issue-1/HTML/index.html")
						img(src="images/DNA1.png")
					h3 DNA 2012
			