extends docwrapper

block title
	| Publication - JCI Dragon
	

block content
	.container
		.subnav
			.subnav_item#Menu_DNA_3
				div DNA Issue 3
			.subnav_item#menu_DNA_2
				div DNA Issue 2
			.subnav_item#menu_DNA_1
				div DNA Issue 1
			.subnav_item#menu_DNA2012
				div DNA 2012

