extends docwrapper

block title
	| Resource - JCI Dragon
	

block content
	.container
		.subnav
			.subnav_item#Menu_Sharepoint
				div SharePoint
			.subnav_item#menu_EmailSystem
				div Email System
			.subnav_item#menu_JCIDragonMediaKit
				div Mdeia Kit
			.subnav_item#menu_JCIDragonDocumentation
				div Documentation