extends docwrapper

block title
	| Resource - JCI Dragon
	

block content
	.container
		.jumbotron
			.row
				.col-md-12.text-center
					h1 Resource
			hr
			.row
				.col-md-3.text-center
					a(href="https://login.microsoftonline.com/login.srf")
						img.img-circle(src="images/SharePoint.jpg")
					h3 SharePoint
				.col-md-3.text-center
					a(href="https://login.microsoftonline.com/")
						img.img-circle(src="images/Outlook.jpg")
					h3 Email System
				.col-md-3.text-center
					a(href="#")
						img.img-circle(src="holder.js/150x150/gray/text:Media Kit")
					h3 Media kit
				.col-md-3.text-center
					a(href="#")
						img.img-circle(src="holder.js/150x150/gray/text:Documentation")
					h3 Documentation
			hr