:markdown
	##National Assigned Executive Officer - Anna Wong

	<img id="Anna Wong" src="#">

	The year of 2015 is for us to celebrate, as it marks the 100th anniversary of the JCI Movement, as well as the 65th anniversary of the founding of the Junior Chamber International Hong Kong. In particular, this year is the 35th anniversary of the establishment of Junior Chamber International Dragon. JCI Hong Kong has all along been serving the Hong Kong community for 65 years through its affiliated chapters. It is a platform to nurture young leaders to become active citizen. I look forward to seeing the future development of the JCI Movement.
	The theme of JCI Dragon this year is We Care with Insight The chapter aims to show its care for members from its heart by way of offering development opportunities, organizing a variety of projects, empowering leadership and realizing potentials. Putting it in practice, JCI Dragon has been making great contributions to the Hong Kong community through its enthusiastic team of volunteers, Dragon Volunteers, which is a gathering of like-minded young people aspired to enhance social progression.
	It is indeed my honour and privilege to be assigned as the National Assigned Executive Officer of JCI Dragon this year. I strongly believe under the leadership of President Eric Ho and his board of directors will overcome all the challenges ahead and make another year of brilliant achievements, along with Action with Appreciation.
	 
	**Anna Wong**

	2015 National Assigned Executive Officer
	
	JCI Hong Kong