.jumbotron
	.row
		.col-md-12.text-center
			h1 Message From National President
			img.img-circle(src="images/NP.jpg")
			h2 Senator Anthony Leung
			h3 2015 JCI Hong Kong National President 

	hr
	:markdown
		On behalf of the National Board of Directors, I would like to give my warmest greeting to JCI Dragon and to the Board of Directors led by President Eric Ho.
		This year marks the 100th year of the JC movement and the 65th anniversary of JCI Hong Kong. Since the inception of JCI, the spirit of bringing positive changes to societies has reached every corner of the world. This spirit arrived at Hong Kong 65th years ago. Generations of young active citizens are motivated by this spirit. Countless projects are carried out to address different aspects of the society, from training the youth to promoting free enterprise, from serving the community to bringing brotherhood of man across borders. We would not have traveled this far without the pioneering work of those who treaded the path before us. Thence we determined the theme this year to be “Action with Appreciation”.
		In past 35 years, JCI Dragon has taken up the role of an active citizen, to make positive changes difference aspects of the society. Dragon Volunteer brings care and warmth to the elderly, so they know that they are not forgotten. Dragon Apprentice cultivates business creativity in the younger generation, planting the seed of entrepreneurship in their hearts. These and other projects exemplify the way JCI Hong Kong seeks to help build a better Hong Kong.
		Under the leadership of President Eric Ho, with the slogan “We Care with Insight”, the year 2015 to JCI Dragon is a year to look forward to. I wish you every success and great celebration of JCI Dragon 35th Anniversary.
		 
		**Senator Anthony Leung**

		2015 National President 
		
		JCI Hong Kong 