:markdown
	##Message From 2015 President Eric Ho

	<img id="EricHo" src="#">

	Say goodbye to year 2014 and welcome a brand new year 2015. Nonetheless, we’ll carry forward the theme of “Inheritance from Dragon” from 2014 and blend into the theme of this year, “We Care with Insight”. It is my greatest honor to be elected as the Chapter President in
	2015, and I would like to express my deepest appreciation to the support encouragement, and dedication from all of the JCI members. 2015 will be an important milestone of JCI Hong Kong, as we’ll celebrate its 65th anniversary. In such an exciting year, we planned a lot of activities, including business networking and contributing to our society.
	In order to expand our business network, JCI Dragon focus on the business networking in China, and our first officer training held in China, through great opportunity, we hope that our members was leaders can reach the “Core of Excellence”.
	Let's contributing to the society with Dragon Volunteer team of next year we will continue to support those needed one, and we’ll focus on supporting the disabled. Nevertheless new project “Becoming an Active Citizen” campaign will be initialed in the year 2015, under this framework, we target to bring positive energy into the society and to make our society a harmonic one.
	From now on, Dragon members will stride forward modestly and to achieve our goal of “We care with insight” in 2015.
	 
	**Eric Ho**

	2015 President 

	JCI Dragon