:markdown
	##Climate Change
	 
	As global citizens committed to positive change, JCI members will focus on environmental sustainability in 2009.

	JCI has a commitment to advance the UN Millennium Development Goals (MDGs) and to Corporate Social Responsibility (CSR), which both contain resolutions for environmental sustainability.

	Members will create initiatives both locally and globally at the 2009 Area Conferences and the 2009 JCI Leadership Summit at the United Nations.

	Overwhelming scientific evidence says that climate change is real. Today we face climbing temperatures, CO2 pollution, flooding, intense droughts; melting glaciers and rising sea levels. At the 2008 UN Conference on Climate Change, experts declared that by continuing on the current path, we will face ecological catastrophes that will cause a profoundly negative effect on human development in every part of the world.

	A healthy planet is a part of global economic and social well-being, making climate change a serious issue for JCI. That why we're committed to advancing the UN Millennium Development Goals including Goal 7: Environmental Sustainability. We're also working to advance the values of the UN Global Compact, which includes three principles that regard environmental responsibility as an obligation of all citizens and businesses.

	By promoting environmental conservation, educating and developing awareness among members and in local communities, JCI is helping to stop the negative impact of climate change and make positive changes in a new direction, ensuring a brighter future for our planet.
	 
