:markdown
	## Unite to Impact for A Better World

	<img id="JCINP" src="">


	2014 JCI President Shine Bhaskaran extends JCI members his sincere gratitude for their dedication to active citizenship through JCI and looks forward to an exciting year of creating sustainable impact worldwide. By 2014 JCI President Shine Bhaskaran 
	Dear JCI members,
	I would first like to wish you all a happy new year and hope that your holidays were filled with joy. I have the exciting responsibility this year not only as a member of this organization, but also as a leader to unite young active citizens around the world as we focus on impact. Starting my JCI career in 1999 serving in multiple leadership roles and moving on to serve JCI at the international level in 2011, I am honored and excited to take on this new, dynamic role. 2014 is a very important year for our organization. JCI will embark on an ambitious journey taking action to create sustainable impact locally and globally. Our rich history allows us to fondly remember the past and look forward to a bright future filled with an even greater capacity to change the world. 2014 marks the beginning of a shift of focus where traditional solutions are no longer sufficient. We recognize that the challenges of today require young people to engage in their communities for the greater good. To achieve this goal of creating a better world and start on a strong path to be the organization that unites all sectors of society to create sustainable impact, there are five key strategies I encourage each JCI Local and National Organization to focus on in the upcoming year. 
	 
	###IMPACT 

	Creating sustainable impact in 2014 is important because it leads to a world where human security is a reality for all global citizens. Human security is the protection of an individual's human rights while ensuring social, economic and environmental opportunity, development and well being for every individual and their communities. As active citizens, JCI Local and National Organization can align their actions to this strategy by running JCI Active Citizen Framework projects, under the community development stages of Health and Wellness, Education and Economic Empowerment and Sustainability and reporting these projects to JCI. Further, we can extend our support by participating in JCI Impact Months and also involving our efforts in campaigns like JCI Operation Hope and JCI Nothing But Nets. 

	###MOTIVATE 

	Fostering motivation in 2014 is very significant because tackling the challenges of today requires empowered, passionate global citizens to take action. To motivate you must communicate, so share your story of impact with others. Exchanging best practices through skill development courses, at JCI Events or even through local tools and resources created in your own organizations are all great ways to align your actions as JCI members to this strategy. 

	###INVEST

	Investment is essential in 2014 because active citizens are responsible for sustaining progress to advance our mutual goals. JCI Local and National Organizations can align their actions to this strategy by utilizing a financial expert when planning their budget. I also encourage fellow JCI members and Senators to support the JCI Foundation, sustaining the development projects and initiatives conducted with the help of these funds. 

	###COLLABORATE 

	Collaboration is crucial in 2014 because it unites like-minded active citizens to expand our ability to create sustainable solutions. Increase collaboration by finding a local partner with shared goals or posting your project in the JCI Project Gallery to share your story of impact with fellow members worldwide. I also encourage each member to collaborate with our new partner the UN Millennium Campaign to share their voice in the MYWorld global survey and increase our participation in the development of the post 2015 global agenda. Our commitment to the Millennium Development Goals remains extremely important and as we create change in our communities, we must think of how this change is sustainable for the future. Collaboration in 2014 should also be exercised through the gathering of historical information and planning for the 100-year anniversary celebration of the JCI movement in 2015. The celebration of this milestone for our organization allows us to showcase our rich history and exciting future to othrorganizations as we unite all sectors of society to expand our impact. 

	###CONNECT

	Connection is important in 2014 because sharing ideas and actions will result in a global movement that creates positive change. Something that connects all JCI members, partners and friends is the JCI Active Citizen Framework. I will work to see that all National Organizations have the tools and resources necessary to conduct impactful projects using the Framework in their communities. Creating new communication tools and resources in 2014 at the local, national and international level will also help grow our global JCI movement. Idea and information sharing is crucial and I ask each and every one of you to think of ways to increase the connection internally and externally within your Local and National Organizations. 

	###Unite to Impact in 2014

	JCI members remain united by their commitment to the JCI Mission, Vision and Values and their passion for positive change. With the long-term goal to be the organization that unites all sectors of society to create sustainable impact, our other main commitment that unites us is impact. Whether it is on a local, national or global level, sustainable impact is the result of shared ownership of challenges and solutions by all community members. By Uniting to Impact, working together and sharing best practices, we can amplify the sustainability and impact of our projects, increase the reach of our programs and raise the visibility of our organization, all while helping create a better world. I encourage all JCI members to attend National Conventions, 2014 JCI Area Conferences, the 2014 JCI Global Partnership Summit and the 2014 JCI World Congress in Leipzig, Germany to develop new relationships and build on existing friendships. These events also provide an important venue for members to showcase their activities and projects. These shared ideas and new collaborative partnerships inspire others to create similar solutions to common problems in their own communities. 
	As 2014 begins, I ask you not only to focus on the year ahead but also to look at the bigger picture. 2014 marks a year of change, a year of impact and the first year of our five-year strategic plan. It is our responsibility to start with a positive attitude, a passion for change and a shift in our mindset from numbers to impact. Our goal to be the organization that unites all sectors of society to create sustainable impact cannot be accomplished in one year. However, I encourage you to align all of your actions to these five strategies to ensure that we are on a strong path to reach this long-term goal. 
	As 2014 JCI President, I look forward to all the fun, excitement and hard work in the upcoming months. I extend my sincere gratitude to you and your commitment, service, leadership and passion for JCI.
	Unite to Impact! 
	Sincerely, 
	Shine Bhaskaran
	2014 JCI President 
	 
	##About JCI 

	<img id="JCIlogo" src="">

	 
	JCI (Junior Chamber International) is worldwide network of nearly a quarter of a million members – young leaders in their 20s and 30s – in over one hundred countries and territories. Through various local, national and international projects and events, JCI members meet, learn and grow. JCI also has millions of alumni, many of whom provide support to active members.

	Membership: National Organizations federated to JCI are active in more than 5,000 communities located in more than 100 nations and territories.

	Mission: To provide development opportunities that empower young people to create positive change.

	Vision: To be the leading global network of young active citizens.

	Values:

	 * Faith in God
	 * The brotherhood of man
	 * Individual freedom and dignity
	 * Government of laws
	 * Human personality
	 * Service to humanity

	Slogan: JCI uses the slogan “Be BetterTM” to communicate what the organization helps members achieve: to be better – better leaders, better managers, better professionals, better citizens, better business owners, better politicians, better parents, better spouses, better brothers, better sisters, better in whatever role in life we play.
	 
	 
	##JCI Creed 

	We believe:
	* That faith in God gives meaning and purpose to human life;
	* That the brotherhood of man transcends the sovereignty of nations;
	* That economic justice can best be won by free men through free enterprise;
	* That government should be of laws rather than of men;
	* That earth's great treasure lies in human personality;
	* And that service to humanity is the best work of life." 

	##JCI Vision & Mission 

	###The JCI Mission

	To provide development opportunities that empower young people to create positive change.
	
	###The JCI Vision

	To be the leading global network of young active citizens.
	
	###The JCI Values 

	That faith in God gives meaning and purpose to human life
	That the brotherhood of man transcends the sovereignty of nations
	That economic justice can best be won by free men through free enterprise
	That government should be of laws rather than of men
	That earth's great treasure lies in human personality
	And that service to humanity is the best work of life. 
		 
	##JCI Head Quarter 

	The JCI World Headquarters was established in 1951 and was located in Coral Gables, Florida, U.S.A., since 1969. In 2002, the JCI World Headquarters was relocated to Chesterfield, St. Louis, Missouri, U.S.A., where the first local organization was founded in 1918. A professional staff of 23 full-time employees provides services to JCI members.
	 
	##JCI History 

	###Approaching the 100th Anniversary of JCI's First Local Organization

	<img id="Henry" src="" >

	In 2015, we’ll celebrate the 100th Anniversary of JCI's First Local Organization, originally established under the name of "Young Men's Progressive Civic Association (YMPCA)."

	Almost a century ago, Henry "Hy" Giessenbier, Jr., and a group of young people decided to take responsibility for their personal and professional development as well as for the progress and welfare of their community by helping tackle difficult problems around them. Together with other 32 young men,  Giessenbier established the Young Men's Progressive Civic Association (YMPCA), JCI's First Local Organization, at the Mission Inn in St. Louis, Missouri, on October 13, 1915.

	Since 1915, countless dedicated young leaders like Giessenbier have ensured the organization's progress while contributing to the development of JCI members and the advancement of their communities. Their efforts and achievements must not be forgotten.

	The historic information presented here is an effort to honor those leaders. Thanks to contributions from former JCI officers, staff members, members in general and collaborators, we have gathered significant historic details. JCI publications have also been used as reference. We hope JCI's history will serve to inspire future generations of JCI members to emulate their predecessors and take the organization to higher and higher levels of accomplishment.
