:markdown
	##Junior Chamber International Hong Kong 

	Junior Chamber International Hong Kong (JCIHK) (formerly named as "Hong Kong Junior Chamber"), inaugurated in 1950, is affiliated with the worldwide leadership development organization – The Junior Chamber International (JCI). JCI has a worldwide membership of over 170,000 throughout 117 member nations.
	In Hong Kong, we have about 1,500 members representing a network of highly motivated and forward looking young men and women who are mostly entrepreneurs or executives from a wide range of trades and businesses. The members are between the age of 18-40 who make full use of their leisure hours to work for the betterment of the community and themselves.
	The purpose of Junior Chamber is to contribute to the advancement of the global community by providing the opportunity for the young people to develop their leadership skills, social responsibility, entrepreneurship, and fellowship necessary to create positive changes. It is attained through the following four areas of opportunity:

	###Individual

	Through various leadership training programs, members develop valuable skills such as goal setting, time-management, public speaking, parliamentary procedures, protocol, etc., thereby equipping them with necessary techniques to become future leaders of the community.

	###Community

	Through various community development programs, members identify social needs and issues, and develop projects to improve the well-being of the community. Awareness and sensitivity on community problems are thus enhanced.

	###International

	Through a network of 200,000 JCs in more than 100 countries around the world, members gain valuable international exposure, develop international friendship, and derive awareness on cross-border, cross-culture issues.

	###Business

	Members can pursue personal business interests through the National Business Network as well as worldwide international networking activities. Each year, various business seminars and contact sessions are organized by the National Business Network.