:markdown
	##JCI and the UN Millennium Development Goals (MDGs)  

	JCI has a Special Consultative Status with the Economic and Social Council (ECOSOC) since 1954

	JCI Organizations use the UN MDGs, a set of time-bound and measurable goals and targets for combating poverty, as a framework for positive change in the community.

	In 2009, JCI members will meet at the United Nations in Geneva for the JCI Leadership Summit on climate change.

	In September 2000 at the UN Millennium Summit, world leaders agreed to a set of time-bound and measurable goals and targets for combating poverty, hunger, disease, illiteracy, environmental degradation and discrimination against women. Placed at the heart of the global agenda, they are called the UN Millennium Development Goals (MDGs) and include eight main goals:

	Goal 1: Eradicate extreme poverty and hunger
	Goal 2: Achieve universal primary education
	Goal 3: Promote gender equality and empower women
	Goal 4: Reduce child mortality
	Goal 5: Improve maternal health
	Goal 6: Combat HIV/AIDS, malaria and other diseases
	Goal 7: Ensure environmental sustainability
	Goal 8: Develop a global partnership for development
	 
	The eight goals provide a framework for governments, businesses, organizations and citizens to work coherently together towards a common end.

	In this context, the world is making progress toward the MDGs, but it is uneven and too slow. A large majority of nations will reach the MDGs only if they get substantial support – advocacy, expertise and resources - from outside sources, such as Non-Governmental Organizations (NGOs) like JCI.

	Working in collaboration with the United Nations, JCI has held several Leadership Summits at the UN in New York. These Summits have helped JCI members learn about the UN and its projects, including those related with the MDGs.

	At the 2003 JCI Leadership Summit at the UN-New York, JCI took responsibility to contribute to the efforts of the UN and presented a resolution supporting the MDGs.

	At the 2004 Summit, JCI decided to focus on the promotion of the MDGs 1 and 6 in Africa/Middle East, MDG 1 in Asia/Pacific, MDGs 4 and 8 in the Americas and MDG 8 in Europe.

	At the 2007 Summit, JCI presented resolutions deepening actions under the MDGs 1, 4, 6 and 8.

	At the 2008 Summit, JCI focused on the Corporate Social Responsibility, with the support of the UN Global Compact, and presented actions on it.

	In 2009, JCI will host a Summit at the UN-Geneva, with the support of the UN Global Compact and the International Chamber of Commerce, to explore, propose and take actions on Climate Change and, accordingly, issue a "Commitment to Action" on Climate Change.

	Each year, JCI members organize thousands of projects dedicated to advancing the goals. The goals provide a framework for targeting local problems to improve communities worldwide.

	JCI Local and National Organizations have been posting their projects related to the MDGs at the JCI Project Gallery.
	 
	Climate Change: Making Global Impact Through Local Actions

	##You've heard the talk about climate change. But what can we as young active citizens do?

	Scientists tell us that actions taken—or not taken—will have a profound effect on the future of our world. As global citizens committed to positive change, environmental sustainability is a serious issue for JCI in 2009.

	JCI has a commitment to advance the UN Millennium Development Goals (MDGs) and to Corporate Social Responsibility (CSR), which both contain resolutions for environmental sustainability. That’s why in 2009 JCI is addressing this global problem. The 2009 JCI Leadership Summit at the UN in Geneva will focus on climate change and what we can do across the organization, but don’t wait until July to get started. Take action today to offset the negative effects of environmental damage.

	###COMMIT

	Making a commitment to reduce the carbon footprint on a personal or organizational level is the first step toward impacting climate change. As young active citizens working toward positive change, our actions will resonate in our communities to show our commitment to environmental sustainability.

	In Japan, JCI Kyoto Members obtained certification for Kyoto Environmental Management System (KES), a set of standards to manage and reduce the burden to the environment in running organizations of any size. To maintain their certification, JCI Kyoto members set concrete goals and executed projects to preserve the environment, educate the public, raise awareness and reduce the organization’s burden to the environment.

	Additionally, the Organizing Committee of the 2009 JCI European Conference has committed itself to carbon neutrality, and has initiated projects such as tree planting to offset the carbon footprint of the Conference.

	###EDUCATE YOURSELF

	Do you know what your carbon footprint is? Or what the experts are saying about climate change? Read up on how climate change is affecting our world today at the United Nations Environmental Programme website (UNEP), including Questions and Answers with UNEP experts.

	Once you’ve studied, educate members of your local community and call them to action. Members of JCI Hammamchatt in Tunisia raised awareness about the seriousness of climate change and called participants to act to reverse climate change in their daily lives in their “Lasting Development” seminar. The seminar focused on teaching people how to produce and consume differently to make a lasting change, both for this generation and the generations of the future.

	###ACT

	Individual, local, national - climate change can be combated at every level. Choose a project tailored to your community, and begin today.

	Members of JCI Coronel Oviedo in Paraguay took action to raise community awareness about climate change and preserve the environment by planting 700 trees in their local community.

	JCI Menton Roquebrune Cap Martin in France took the initiative to clean up the French Riviera with its Boat Service project. The project included steps to educate yacht operators about the negative effects of pollution and waste collection in the Riviera.

	Learn more about what you can do as an organization or an individual with the UNEP’s Twelve Steps to Kick the CO2 Habit.

	###UNITE

	Joining together with other like-minded groups and individuals magnifies the impact of climate change efforts. Within the JCI global network, join in the discussion at workshops on climate change at each of the four Area Conferences.

	And this July, don’t miss the opportunity to unite with other JCI Members to develop concrete plans to impact climate change at the JCI Leadership Summit at the UN in Geneva. Registration is open until June 26. Register today

	Find partners working toward the same goals in your community, or tap into larger networks. To make an organization-wide commitment at the global level, check out the Caring for Climate platform of the UN Global Compact or the Climate Neutral Network

	 
	<img id="Benjamin" src="#" >
	Benjamin Kong
	2010 UN Affairs Commission Chairman