h1 History And Goals
:markdown
	###1980 

	Established in 1980, Dragon Junior Chamber is the 11th local chapter (LOM) of the Hong Kong Junior Chamber. The parent organization is affiliated to the Junior Chamber International (JCI), a worldwide association of young people between the ages of 21 and 40. The purpose of the Junior Chamber (JC), as outlined in the JCI Constitution, is "To contribute to the advancement of the global community by providing the opportunity for young people to develop the leadership skills, social responsibility, and fellowship necessary to create positive change".
	 
	###1981 

	Dragon Junior Chamber is all-male English speaking chapter. It has about 80 members, prospective members and senior members , who are mainly entrepreneurs, professionals, company executives, and financiers. Throughout its history, Dragon Junior Chamber has been aggressive in the recruitment of quality members. Flooded with a pool of dynamic, talented and competent members, Dragon Junior Chamber has managed to win public attention in many of its activities. In 1981, the Chapter represented the Hong Kong Junior Chamber in the Management Game organized by the Hong Kong Management Association.
	 
	###1990

	Dragon Junior Chamber has been well known in the JC circles as creative in project ideas. Many of its projects have succeeded in drawing public attention. Its famous "Banking and Finance Seminar" won the best Economic Affairs Project Award at the 1989 National Convention. Its leadership development project "Speak Public, No Panic" won the Leadership Development Award in the JCI Chiangmai Asian Pacific Area Conference in 1990. The Chapter also won the Most Outstanding LOM in Asian Pacific Award in the same conference.
	 
	In Hong Kong, Dragon Junior Chamber is recognized as one of the strongest chapters in Hong Kong Junior Chamber. The Chapter is always regarded as dynamic, innovative, flexible, and capable. The Chapter is always ready to respond quickly to opportunities. In 1990, in conjunction with the Cathay Pacific Airways, Dragon Junior Chamber organized a Charity Carnival to raise a fund for the purchase of a rehabilitation bus for the Sunnyside Club. This project won the Youth Activities Award in the JCI Cebu Asia Pacific Area Conference in 1991.
	 
	###1991 

	In 1991, the Chapter was invited by the Hong Kong Junior Chamber to host the National Convention. Though there were only 6 months to organize the project, as compared with the normal lead time of 1year, Dragon Junior Chamber managed to make the event a memorable success. It has been accredited as one of the most successful conventions ever held in Hong Kong!
	 
	###1992

	In 1992, Dragon Junior Chamber cooperated with the British Forces to organize a leadership training wild camp "Operation Dragon". This project turned out to be very successful and won the Leadership Development Award in the JCI Kitakyushu Asia Pacific Area Conference. Moreover, its fund-raising project "Enter the B BOSS with Dragons" won a Certificate of Merit at the National Convention. The Chapter also organized a large-scale Community Development Project, "The Elderly - They Still Care", in conjunction with the Salvation Army and the Hong Kong Secretary Association. Mrs. Elizabeth Wong, ISO was the patron of the project.
	 
	###1993

	In 1993, Dragon Junior Chamber had once again demonstrated its excellence by winning the Most Outstanding LOM in Asian Pacific Award in the JCI Taipei Asia Pacific Area Conference. Moreover, Dragon Junior Chamber's Past President Senator George Lung was elected as the National President of Hong Kong Junior Chamber of Commerce 1993. In the same year, the Chapter also organized a large-scale Economic Affairs Project, "TQM Made Easy" which break the participating record of similar seminar hosted by Junior Chamber with nearly 400 participants. Another meaningful Community Development Project, "X'Mas Card Design Competition For The Mentally Handicapped" was jointly presented by the Association for Mentally Handicapped and Rotary Club Kwun Tong; Lady Patten was the patron of the project. Moreover, Past President Senator George Lung was elected as the Vice President of Junior Chamber International 1994.
	 
	###1994

	In 1994, again recognizing the needs of the community, Dragon Junior Chamber organized an economic seminar on the retail market in China. In the same year, Past President Senator George Lung was elected as the Executive Vice President of Junior Chamber International 1995.
	 
	###1995

	In 1995, while having its 15th Anniversary, Dragon Junior Chamber has successfully held an economic affairs seminar on “Mandatory Provident Fund” which was attended by more than 130 participants.
	 
	###1996

	In 1996, in the light of influx of new immigrants from Mainland China, Dragon Junior Chamber organized a series of Extension and Induction Courses for the newly immigrants children from China. In August 1996, Dragon Junior Chamber organized an Economic Affairs Seminar on Taxation. Thanks to the success of this seminar, Dragon Junior Chamber won a certificate of merits in the National Convention of Hong Kong Junior Chamber held in October. In the said Convention, Dragon Junior Chamber had once again displayed its superiority by winning the Outstanding LOM Award (with up to 75 members) and the LOM with the Best Contribution to NOM Award. Moreover, Dragon Junior Chamber's Past President Senator Henry U was elected as the National President of Hong Kong Junior Chamber 1997.
	 
	###1997

	In 1997 Pattaya ASPAC, Dragon again won the Outstanding LOM in the Asian Pacific Conference. This is the third time in the history of Dragon Junior Chamber. In 2000, the Chapter climbed another climax in Jaycees development by organizing the 35th National Convention for the Hong Kong Junior Chamber. The Convention that year has earned its reputation being one of the most innovative and entertaining conventions ever had in the Jaycees History. The Conventions programmes all echoed its theme. “Techvolution: Making IT Happen”. Three informative seminars were organized in which several prominent speakers have been invited to share with the delegates their views on the technological development and education. The first ever International Night in Convention of Hong Kong JC has left a glamorous memory in every delegate. Two of the sister chapters of the Dragon Junior Chamber, Song Jong Junior Chamber and Nagasaki Junior Chamber have sent more than 10 of their members respectively to organize a Korean Night and Japan Night for the Hong Kong JC Members. The trade show with its theme “ IT Education” was another bonus to the delegates which attracted more than 4000 attend.
	 
	###2002

	In the same year, our past president Peter Pang was elected as one of the National Vice Presidents and further appointed as the National General Legal Counsel in the year of 2002.
	 
	###2009

	In 2009 the Youth Business Hong Kong project is awarded one of the four Outstanding Partnership Project Awards, by the Caring Organization, and being one of the major partners of the YBHK project, Dragon Junior Chamber will be awarded and recognized in the Caring Company Recognition Ceremony, being held on 10 February 2009. The plaques of the Special Awards will be presented on stage by the Hon John Tsang, Financial Secretary of HKSAR. In addition on the same year Dragon Junior Chamber has won the Most Outstanding Progressive LOM during the National Convention 2009.
	 
	2012 

	2012 was a fruitful year for JCI dragon this year, as we have won a considerable number of awards including: Best Inter-organization Collaboration Program - Blind Soccer Asia Cup (ASPAC Community Outreach Project), Best Chapter of the Area (56-90 members), Most Outstanding Chapter President (56-90 members) (Merit), Presidential Award of Excellence, Senator Benjamin Lee - National Convention Director, Presidential Award of Devoted NAEO, Clarkson So  - National Vice President and Networker of the year.